{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "FB": true,
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "client/",
          "."
        ]
      }
    }
  },
  "env": {
    "browser": true,
  },
  "rules": {
    "react/prop-types": 0,
    "no-restricted-globals": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-one-expression-per-line": 0,
    "radix": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/label-has-for": 0,
    "react/destructuring-assignment": 0,
    "no-shadow": 0,
    "lines-between-class-members": 0,
  }
}