* {
  font-family: Montserrat;
  color: #333;
}

$primary: #fff;

body {
  background: $primary;
  padding-top: 1em;
}

hr {
  border-color: #666;
  border-width: 2px;
}

h1, h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1em;
}

option {
  color: #333;
}

.login-view {
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
}

.bar-view {
  .add-beer {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0.5em;
  }
}

.stats {
  .stat {
    margin-bottom: 0.5em;
    border-bottom: 2px solid #666;
    padding-bottom: 0.5em;
  }
  .label, .value {
    display: inline-block;
  }

  .label {
    margin-right: 0.5em;
  }
}