* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  color: $color-orange;
  text-transform: uppercase;
}