.listing {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  button {
    width: 1.5em;
    height: 1.5em;
    margin-left: 1em;
    padding: 0.25em;
    img {
      width: 1em;
      height: 1em;
    }
  }
}

.status-blocks {
  width: 100%;
  display: grid;
  grid-template-columns: calc(50vw - 3em) calc(50vw - 3em);
  grid-template-rows: calc(50vw - 3em);
  grid-column-gap: 2em;

  margin-bottom: 2em;
}