.beer-listing {
  margin-bottom: 1em;

  .essentials {
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-bottom: 0.5em;
  }
  .location {
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    margin-bottom: 0.5em;
    img {
      margin-right: 0.5em;
      height: 0.8em;
    }
  }

  .person {
    display: flex;
    align-items: center;
    flex-flow: row;
    height: 2em;
    margin-bottom: 0.5em;
    img {
      margin-right: 0.5em;
      border-radius: 50%;
      height: 2em;
      width: 2em;
    }
  }

  .star-rating {
    width: 100%;
    margin-bottom: 0.5em;
    .star {
      background-color: transparent;
      width: auto;
      height: 1.0em;
      margin-right: 0.5em;
      img {
        width: 100%;
      }
    }
  }

  .description {
    letter-spacing: 0.02em;
    margin-bottom: 0.5em;
    font-style: italic;
    font-family: Podkova;
  }

  button {
    float: right;
    width: 2em;
    height: 2em;
  }
}