.app-frame {
  .masthead {
    background-color: $color-primary;
    color: $color-secondary;
    padding: 1em;

    .title {}
    .navigation {
      .nav-option {
        color: $color-background;

        &.active {
          color: $color-secondary;
        }
      }

    }
  }
}