.login-view {
  width: 100vw;
  height: 100vh;

  color: $color-background;
  background-color: $color-primary;

  h2 {
    color: $color-background;
  }

  .highlight {
    color: $color-secondary;
  }
}