.random-review {
  padding: 1em;
  color: $color-white;
  background-color: $color-black;
  margin-bottom: 1em;

  .review {
    font-style: italic;
    font-size: 1.5em;
    font-family: Podkova;
    margin-bottom: 1em;
  }

  .reviewer {
    text-transform: uppercase;
    font-size: 0.8em;
  }
}

.new-review {
  margin-bottom: 2em;
}